body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align:justify;
}
body {
	background-color: #ffffff; cursor: default;
}

<!--
body{
background-attachment:fixed;
background-color:#ffffff;
background-image:url(images/mstc_logo_2.jpg);
background-position:bottom right;
background-repeat:no-repeat;}
-->

a {
	font-size: 12px;
	color: #003300;
}
a:link {
	text-decoration: none;
	color: #339966;
}
a:visited {
	text-decoration: none;
	color: #339966;
}
a:hover {
	text-decoration: none;
	color: #00CC66;
}
a:active {
	text-decoration: none;
	color: #339966;
}

table { 
  border: 0; 
  font-family: arial; 
  font-size:14px; 
} 
th{background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;} 
td { 
  border-bottom:1 solid #000000; 
} 
