USE [libruary]
GO
/****** 对象:  Table [dbo].[bookstable]    脚本日期: 04/13/2008 18:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bookstable](
	[idBook] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[numCopies] [smallint] NOT NULL CONSTRAINT [DF_bookstable_numCopies]  DEFAULT ((0)),
	[abstract] [varchar](150) NOT NULL,
	[author] [varchar](20) NOT NULL,
	[publishCompany] [varchar](40) NOT NULL,
	[comment] [varchar](100) NOT NULL,
	[donatePerson] [varchar](50) NOT NULL,
	[state] [nchar](9) NOT NULL CONSTRAINT [DF_bookstable_state]  DEFAULT (N'FREE'),
	[bookName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_bookstable] PRIMARY KEY CLUSTERED 
(
	[idBook] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** 对象:  Table [dbo].[userinformation]    脚本日期: 04/13/2008 18:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userinformation](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[trueName] [varchar](10) NOT NULL,
	[college] [varchar](20) NOT NULL,
	[address] [varchar](60) NOT NULL,
	[birthday] [datetime] NOT NULL,
	[sex] [nchar](6) NOT NULL CONSTRAINT [DF_userinformation_sex]  DEFAULT (N'MALE'),
	[email] [varchar](40) NOT NULL,
	[telnumber] [varchar](15) NOT NULL,
	[description] [varchar](300) NOT NULL,
	[mark] [int] NOT NULL,
 CONSTRAINT [PK_userinformation] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** 对象:  Table [dbo].[board]    脚本日期: 04/13/2008 18:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[board](
	[Context] [varchar](100) NOT NULL,
 CONSTRAINT [PK_board] PRIMARY KEY CLUSTERED 
(
	[Context] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** 对象:  Table [dbo].[borrowtable]    脚本日期: 04/13/2008 18:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrowtable](
	[idBook] [int] NOT NULL,
	[idUser] [int] NOT NULL,
	[deadLine] [datetime] NOT NULL,
 CONSTRAINT [PK_borrowtable] PRIMARY KEY CLUSTERED 
(
	[idBook] ASC,
	[idUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[bookcomment]    脚本日期: 04/13/2008 18:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bookcomment](
	[idBook] [int] NOT NULL,
	[idUser] [int] NOT NULL,
	[comment] [varchar](200) NOT NULL,
	[commentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_bookcomment] PRIMARY KEY CLUSTERED 
(
	[idBook] ASC,
	[idUser] ASC,
	[commentDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** 对象:  Table [dbo].[toadmincomment]    脚本日期: 04/13/2008 18:55:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[toadmincomment](
	[idUser] [int] NOT NULL,
	[idAdmin] [int] NOT NULL,
	[comment] [varchar](200) NOT NULL,
	[commentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_toadmincomment] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idAdmin] ASC,
	[commentDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** 对象:  Table [dbo].[admininformation]    脚本日期: 04/13/2008 18:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admininformation](
	[idAdmin] [int] NOT NULL,
 CONSTRAINT [PK_admininformation] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  ForeignKey [FK_admininformation_1]    脚本日期: 04/13/2008 18:55:37 ******/
ALTER TABLE [dbo].[admininformation]  WITH CHECK ADD  CONSTRAINT [FK_admininformation_1] FOREIGN KEY([idAdmin])
REFERENCES [dbo].[userinformation] ([idUser])
GO
ALTER TABLE [dbo].[admininformation] CHECK CONSTRAINT [FK_admininformation_1]
GO
/****** 对象:  ForeignKey [FK_bookcomment_bookstable]    脚本日期: 04/13/2008 18:55:39 ******/
ALTER TABLE [dbo].[bookcomment]  WITH CHECK ADD  CONSTRAINT [FK_bookcomment_bookstable] FOREIGN KEY([idBook])
REFERENCES [dbo].[bookstable] ([idBook])
GO
ALTER TABLE [dbo].[bookcomment] CHECK CONSTRAINT [FK_bookcomment_bookstable]
GO
/****** 对象:  ForeignKey [FK_bookcomment_userinformation]    脚本日期: 04/13/2008 18:55:39 ******/
ALTER TABLE [dbo].[bookcomment]  WITH CHECK ADD  CONSTRAINT [FK_bookcomment_userinformation] FOREIGN KEY([idUser])
REFERENCES [dbo].[userinformation] ([idUser])
GO
ALTER TABLE [dbo].[bookcomment] CHECK CONSTRAINT [FK_bookcomment_userinformation]
GO
/****** 对象:  ForeignKey [FK_borrowtable_bookstable]    脚本日期: 04/13/2008 18:55:44 ******/
ALTER TABLE [dbo].[borrowtable]  WITH CHECK ADD  CONSTRAINT [FK_borrowtable_bookstable] FOREIGN KEY([idBook])
REFERENCES [dbo].[bookstable] ([idBook])
GO
ALTER TABLE [dbo].[borrowtable] CHECK CONSTRAINT [FK_borrowtable_bookstable]
GO
/****** 对象:  ForeignKey [FK_borrowtable_userinformation]    脚本日期: 04/13/2008 18:55:44 ******/
ALTER TABLE [dbo].[borrowtable]  WITH CHECK ADD  CONSTRAINT [FK_borrowtable_userinformation] FOREIGN KEY([idUser])
REFERENCES [dbo].[userinformation] ([idUser])
GO
ALTER TABLE [dbo].[borrowtable] CHECK CONSTRAINT [FK_borrowtable_userinformation]
GO
/****** 对象:  ForeignKey [FK_toadmincomment_admininformation]    脚本日期: 04/13/2008 18:55:46 ******/
ALTER TABLE [dbo].[toadmincomment]  WITH CHECK ADD  CONSTRAINT [FK_toadmincomment_admininformation] FOREIGN KEY([idAdmin])
REFERENCES [dbo].[admininformation] ([idAdmin])
GO
ALTER TABLE [dbo].[toadmincomment] CHECK CONSTRAINT [FK_toadmincomment_admininformation]
GO
/****** 对象:  ForeignKey [FK_toadmincomment_userinformation]    脚本日期: 04/13/2008 18:55:46 ******/
ALTER TABLE [dbo].[toadmincomment]  WITH CHECK ADD  CONSTRAINT [FK_toadmincomment_userinformation] FOREIGN KEY([idUser])
REFERENCES [dbo].[userinformation] ([idUser])
GO
ALTER TABLE [dbo].[toadmincomment] CHECK CONSTRAINT [FK_toadmincomment_userinformation]
GO
